{
    "presets": [
      ["react-app", { "absoluteRuntime": false }],
      [
        "@babel/preset-typescript",
        {
          "isTSX": true,
          "jsxPragma": "React",
          "allExtensions": true
        }
      ]
    ],
    "plugins": ["@babel/plugin-transform-modules-commonjs"]
}
